<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184979270697-2ertldhq20bp4q78nbmf909fr4tloqpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184979270697-2ertldhq20bp4q78nbmf909fr4tloqpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAVsGO_fePX11BpZOl75GEkWjYyWIXPwSc</string>
	<key>GCM_SENDER_ID</key>
	<string>184979270697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.godo.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-e2db4</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-e2db4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184979270697:ios:0298920c1bd11634054038</string>
</dict>
</plist>